node_modules
# Keep environment variables out of version control
.env

/backend/src/generated/prisma/

dist/
build/

*.log
logs/

*.tmp
*.temp

.vscode/
.idea/

.DS_Store
Thumbs.db
debug/

.cache/

coverage/

*.out
*.class

prisma/.env
prisma/migrations/


.env.local
.env.development
.env.production